<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.intrepid.contest"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".ContestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".screens.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.entrysubmission.entryname.EntryNameActivity"
            android:windowSoftInputMode="adjustResize"
            />
        <activity android:name=".screens.entrysubmission.entryimage.EntryImageActivity" />
        <activity
            android:name=".screens.join.JoinActivity"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".screens.contestcreation.NewContestActivity"
            android:windowSoftInputMode="adjustResize"
            />
        <activity android:name=".screens.conteststatus.ContestStatusActivity" />
        <activity android:name=".screens.contestcreation.editcategoriestocontest.EditCategoryActivity" />
        <activity android:name=".screens.contestoverview.ContestOverviewActivity" />
        <activity android:name=".screens.sendinvitations.SendInvitationsActivity" />
        <activity android:name=".screens.contestjudging.scoreentries.ScoreEntriesActivity" />
        <activity android:name=".screens.contestresults.ContestResultsActivity" />
        <activity android:name=".screens.adminstatus.AdminStatusActivity" />
        <activity
            android:name=".screens.entrysubmission.cropimage.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
    </application>

</manifest>
